<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/activities"></ion-back-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="popover" icon-only item-right fill="clear" (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card lines="none">

    <ion-card-header>
      <ion-item lines="none" text-wrap no-padding>
        <ion-avatar>
          <img [src]="activity?.profilePicture" alt="">
        </ion-avatar>
        <ion-label padding-start>
          <p style="font-weight: bold">{{activity.name}} {{activity?.firstSurname}}</p>
          <p>{{activity?.createdAt | date: 'dd/MM/yyyy H:mm'}}</p>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <p>{{activity?.description}}</p>
      <img margin-top *ngIf="activity?.blob" [src]="activity.blob">
    </ion-card-content>

    <ion-row>
      <ion-button fill="clear" (click)="likePost()">
        <ion-text [color]="liked ? 'danger' : 'primary'">{{activity?.likes?.length}}</ion-text>
        <ion-icon [color]="liked ? 'danger' : 'primary'" class="card-icon" name="heart"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-text>{{comments?.length}}</ion-text>
        <ion-icon class="card-icon" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-row>

  </ion-card>

  <ion-list *ngFor="let comment of comments">
    <ion-item padding-end>
      <div>
        <ion-item lines="none" text-wrap>
          <ion-avatar>
            <img *ngIf="comment?.profilePicture" [src]="comment?.profilePicture" alt="">
          </ion-avatar>
          <ion-label padding-start>
            <p style="font-weight: bold">{{activity.name}} {{activity?.firstSurname}}</p>
            <p>{{comment?.createdAt | date: 'dd/MM/yyyy H:mm'}}</p>
          </ion-label>
        </ion-item>
        <p padding-start>{{comment?.text}}</p>
      </div>
      <ion-button *ngIf="comment.canDelete" (click)="deleteComment(comment.id)" fill="clear" color="danger" class="delete-button" icon-only item-end>
        <ion-icon  name="close"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <form #commentForm="ngForm" (ngSubmit)="sendComment(commentForm)" novalidate>
    <ion-item lines="none">
      <ion-input name="text" #text placeholder="Escribe un comentario..." [(ngModel)]="comment.text"></ion-input>
      <ion-button fill="clear" type="submit" icon-only item-right>
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
</ion-footer>